/* #region Global */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

.studio-style {
  color: #2e2f42;
}

/* #endregion Global */

/* #region Header */

.main-header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-menu-list {
  display: none;
}

.header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus,
.header-link:active {
  text-decoration: underline;
  color: #404bbf;
}

.header-contacts {
  display: none;
}

.header-contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* #endregion Header */

/* #region Hero section */

.hero-section {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section/mobile/bg-img@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.hero-title {
  max-width: 212px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion Hero section */

/* #region Features section */

.features-section .main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  padding-bottom: 8px;
}

.features-section .container {
  padding-left: 0;
  padding-right: 0;
}

.features-item:not(:last-child) {
  padding-bottom: 72px;
}
.features-item-icon {
  display: none;
}

.features-text {
  font-weight: 500;
}

/* #endregion Features section */

/* #region Team sectiom */
.team-section {
  background: #f4f4fd;
}

.team-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card-item {
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}

.team-card-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-card-img {
  padding-bottom: 32px;
}

.team-card-text {
  text-align: center;
  padding-bottom: 8px;
}

.team-list-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-social {
  width: 40px;
  height: 40px;
}

.team-card-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-social-icon:hover,
.team-card-social-icon:active,
.team-card-social-icon:focus {
  background-color: #404bbf;
}

/* #endregion Team sectiom */

/* #region Portfolio section */

.portfolio-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item:not(:last-child) {
  padding-bottom: 48px;
}

.portfolio-hiden-text {
  display: none;
}

.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-section .main-title {
  text-align: start;
}

/* #endregion Portfolio section */

/* #region Footer */
.footer {
  background-color: #2e2f42;
}

.footer .container {
  max-width: 320px;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.studio-footer {
  color: #f4f4fd;
}

.footer-text {
  max-width: 288px;
  color: #f4f4fd;
  margin-bottom: 72px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover,
.footer-social-icon:active,
.footer-social-icon:focus {
  background-color: #31d0aa;
}

.footer-form-container-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-label-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-label-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus,
.footer-form-btn:active {
  background-color: #404bbf;
}

.footer-form-btn-icon {
  fill: #fcfcfc;
  margin-left: 16px;
}

/* #endregion Footer */

/* #region Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 95%;
  width: 288px;
  height: 95%;
  max-height: 623px;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.btn-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.btn-close-modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #111111;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}

.modal-field-input:focus + .modal-field-input-icon {
  fill: #4d5ae5;
}

.modal-field-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-texterea-wrapper {
  margin-bottom: 16px;
}

.modal-texterea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}

.modal-texterea:focus {
  outline: transparent;
  border-color: #4d5ae5;
}

.modal-textere::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-wrapper-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.modal-checkbox-castom {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checked-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-castom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox:focus + .modal-checkbox-user .modal-checkbox-castom {
  border: 2px solid rgba(0, 0, 255, 0.5);
}

.checkbox-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus,
.modal-form-btn:active {
  background-color: #404bbf;
}

/* #endregion Backdrop */

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/mobile/bg-img@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  /* #region Header */
  .main-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  /* #endregion Header */

  /* #region Mobile menu */

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    color: #2e2f42;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu .container {
    min-width: 320px;
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .mobile-menu-list {
    padding-bottom: 168px;
  }

  .mobile-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-social-list {
    padding-bottom: 24px;
  }

  .mobile-menu-social-item {
    padding-bottom: 24px;
  }

  .mobile-menu-social-list-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
  }

  .mobile-menu-social-list-icon {
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  .mobile-menu-social-list-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #4d5ae5;
  }

  .active {
    color: #4d5ae5;
  }

  .mobile-menu.is-open {
    transform: translateX(0);
  }
  /* #endregion Mobile menu */
}

@media screen and (min-width: 768px) {
  /* #region Global */

  .container {
    max-width: 736px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  /* #endregion Global */

  /* #region Header */

  .open-mobile-menu-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    column-gap: 120px;
  }

  .nav-menu-list {
    display: flex;
    column-gap: 40px;
  }

  .header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
  }

  .header-link-aline {
    position: relative;
    color: #404bbf;
  }

  .header-link-aline::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts {
    display: flex;
    font-style: normal;
  }

  .header-contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  /* #endregion Header */

  /* #region Mobile menu */
  .mobile-menu {
    display: none;
  }
  /* #endregion Mobile menu */

  /* #region Hero section */
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/tablet/bg-img@1x.jpg);
  }

  .hero-section .container {
    gap: 36px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  /* #endregion Hero section */

  /* #region Features section */
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-item:not(:last-child) {
    padding-bottom: 0;
  }

  /* #endregion Features section */

  /* #region Team section */
  .team-section .container {
    max-width: 768px;
  }

  .team-card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-card-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-card-item:not(:last-child) {
    margin-bottom: 0;
  }

  /* #endregion Team section */

  /* #region Portfolio section */
  .portfolio-section .container {
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* #endregion Portfolio section */

  /* #region Footer */
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    text-align: start;
    gap: 72px 24px;
    padding-left: 108px;
    padding-left: 108px;
  }

  .footer-content {
    width: 264px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-social {
    width: 208px;
  }

  .footer-social-list {
    margin-bottom: 0;
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-form-label-input {
    max-width: 264px;
  }

  /* #endregion Footer */

  /* #region Backdrop */

  .modal {
    width: 408px;
  }

  /* #endregion Backdrop */
}

@media screen and (min-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/tablet/bg-img@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  /* #region Global */

  .container {
    max-width: 1128px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* #endregion Global */

  /* #region Header */

  .header-nav {
    column-gap: 76px;
  }

  .header-contacts-list {
    padding: 24px 0;
    display: flex;
    gap: 40px;
  }

  .header-contacts-link {
    font-size: 16px;
  }

  /* #endregion Header */

  /* #region Hero */
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/desktop/bg-img@1x.jpg);
  }

  .hero-section .container {
    gap: 48px;
  }
  /* #endregion Hero */

  /* #region Features section */

  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .section .main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 8px;
  }

  .features-text {
    letter-spacing: 0.015em;
  }

  /* #endregion Features section */

  /* #region Team section */

  .team-card-list {
    flex-wrap: nowrap;
  }

  .team-card-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* #endregion Team section */

  /* #region Portfolio section */

  .team-section .container {
    max-width: 1128px;
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-item:not(:last-child) {
    padding-bottom: 0;
  }

  .portfolio-content {
    position: relative;
    overflow: hidden;
  }

  .portfolio-hiden-text {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
  }

  .portfolio-item:hover .portfolio-hiden-text {
    transform: translateY(0);
  }

  /* #endregion Portfolio section */

  /* #region Footer */
  .footer .container {
    max-width: 1440px;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    gap: 0;
  }

  .footer-content {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-form {
    gap: 24px;
  }

  /* #endregion Footer */
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/desktop/bg-img@2x.jpg);
  }
}
