/* #region Global */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion Global */

/* #region Header */
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
}

.header-menu {
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.studio-header {
  color: #2e2f42;
}

.nav-menu-list {
  display: flex;
  gap: 40px;
}

.nav-menu-item {
  padding-top: 24px;
  margin-bottom: 20px;
}

.header-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-aline {
  position: relative;
  color: #404bbf;
}

.header-link-aline::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus,
.header-link:active {
  text-decoration: underline;
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
  padding: 24px 0;
  display: flex;
  gap: 40px;
}

.header-contacts-link {
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* #endregion Header */

/* #region Hero-section */

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero-main-text {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion Hero-section */

/* #region Features-section */

.features-section {
  padding: 120px 0;
}

.features-list {
  margin-bottom: 8px;
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-item-icon {
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.features-main-text {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.features-text {
}

/* #endregion Features-section */

/* #region Team-section */

.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-hero-text {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.team-card-list {
  display: flex;
  gap: 24px;
}

.team-card-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-list-item {
  padding: 32px 0;
}

.team-main-text {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-card-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-social {
  width: 40px;
  height: 40px;
}

.team-card-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-social-icon:hover,
.team-card-social-icon:active,
.team-card-social-icon:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* #endregion Team-section */

/* #region Portfolio-section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-hero-text {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.portfolio-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-hiden-text {
  transform: translateY(0);
}

.portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio-hiden-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-main-text {
  margin-bottom: 8px;
}

.portfolio-text {
}

.portfolio-hiden-content {
}

/* #endregion Portfolio-section */

/* #region Footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.studio-footer {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-social {
  width: 208px;
  height: 80px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover,
.footer-social-icon:active,
.footer-social-icon:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-form-container {
  margin-left: 80px;
}

.footer-form-container-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-label {
  gap: 24px;
}

.footer-form-label-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-label-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-form-btn-icon {
  margin-left: 16px;
}

/* #endregion Footer */

/* #region Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.btn-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.btn-close-modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
}

.modal-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #111111;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}

.modal-field-input:focus + .modal-field-input-icon {
  fill: #4d5ae5;
}

.modal-field-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-texterea-wrapper {
  margin-bottom: 16px;
}

.modal-texterea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}

.modal-texterea:focus {
  outline: transparent;
  border-color: #4d5ae5;
}

.modal-textere::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-wrapper-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-castom {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checked-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-castom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox:focus + .modal-checkbox-user .modal-checkbox-castom {
  border: 2px solid rgba(0, 0, 255, 0.5);
}

.checkbox-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Modal */
